# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node / Next.js
node_modules/
.next/
out/
.turbo/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# IDE
.vscode/
.idea/

# Aptos
.aptos/
